<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pecker Picker Tool</title>
</head>
<body>
<h1>Pecker Picker Tool</h1>

<!--

/Idea for admin page/

Have form for all components in the one file
Hide/Show depending on which button pressed
No need for 5+ html files then, plus repetitive code reduced

-->
<table>
    <tr>
        <th>CPU NAME</th>
        <th>Price</th>
    </tr>
    <tr th:each="cpu : ${CPUs}">
        <td th:text="${cpu.name}">Product Name</td>
        <td th:text="${cpu.price}">Product Price</td>
        <td>
            <form th:action="@{/cpus/{id}(id=${cpu.id})}" method="post">
                <input type="hidden" name="_method" value="DELETE"/>
                <button type="submit">Delete CPU</button>
            </form>
        </td>
    </tr>
</table>

<h2>Add New CPU</h2>
<form action="#" th:action="@{/cpus}" method="post">
    <p>Name: <input type="text" name="name"/></p>
    <p>Price: <input type="number" name="price"/></p>
    <p>Socket: <input type="text" name="socket"/></p>
    <p>Frequency: <input type="text" name="frequency"/></p>
    <p>Brand: <input type="text" name="brand"/></p>
    <p>Ebay Link: <input type="text" name="ebaylink"/></p>
    <p><input type="submit" value="Add CPU"/></p>
</form>
</body>
</html>
