<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pecker Picker Tool</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<h1>Pecker Picker Tool</h1>

<form action="/admin/radial" method="post">
    <input type="radio" id="1" name="selectedOption" value="CPUs" th:checked="${componentSelected == 'CPUs'}">
    <label for="1">CPUs</label>
    <input type="radio" id="2" name="selectedOption" value="GPUs" th:checked="${componentSelected == 'GPUs'}">
    <label for="2">GPUs</label>
    <input type="radio" id="3" name="selectedOption" value="Motherboards"
           th:checked="${componentSelected == 'Motherboards'}">
    <label for="3">Motherboards</label>
    <input type="radio" id="4" name="selectedOption" value="RAMs" th:checked="${componentSelected == 'RAMs'}">
    <label for="4">RAMs</label>
    <input type="radio" id="5" name="selectedOption" value="Storages" th:checked="${componentSelected == 'Storages'}">
    <label for="5">Storages</label>

    <button type="submit">Request</button>
</form>

<form action="/admin/logout" method="post">
    <button type="submit">Logout</button>
</form>

<div th:if="${componentSelected} == 'CPUs'" style="display: flex;align-items: flex-start;">
    <table style="margin-right: 40px">
        <tr>
            <th>CPU Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        <tr th:each="cpu : ${CPUs}">
            <td th:text="${cpu.name}" style="max-width: 200px">Product Name</td>
            <td th:text="${cpu.price}">Product Price</td>
            <td>
                <form th:action="@{/admin/cpus/{id}(id=${cpu.id})}" method="get" style="display: inline;">
                    <button type="submit">Edit CPU</button>
                </form>
                <form th:action="@{/admin/cpus/{id}(id=${cpu.id})}" method="post" style="display: inline;">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <button type="submit">Delete CPU</button>
                </form>
            </td>
        </tr>
    </table>

    <div>
        <h2>Add/Edit CPU</h2>
        <div th:if="${currentForm} == 'create'">
            <form action="#" th:action="@{/admin/cpus}" method="post">
                <p>Name: <input type="text" name="name"/></p>
                <p>Price: <input type="number" name="price" step="0.01"/></p>
                <p>Socket: <input type="text" name="socket"/></p>
                <p>Frequency: <input type="text" name="frequency"/></p>
                <p>Brand: <input type="text" name="brand"/></p>
                <p>Compatible RAM Types: <input type="text" name="compatibleRAMTypes"></p>
                <p>Ebay Link: <input type="text" name="ebaylink"/></p>
                <p><input type="submit" value="Add CPU"/></p>
            </form>
        </div>
        <div th:if="${currentForm} == 'update'">
            <form action="#" th:action="@{/admin/cpus/update}" method="post">
                <p>Name: <input type="text" name="name" th:value="${selectedCPU != null ? selectedCPU.name : ''}"/></p>
                <p>Price: <input type="number" name="price" step="0.01"
                                 th:value="${selectedCPU != null ? selectedCPU.price : ''}"/></p>
                <p>Socket: <input type="text" name="socket"
                                  th:value="${selectedCPU != null ? selectedCPU.socket : ''}"/>
                </p>
                <p>Frequency: <input type="text" name="frequency"
                                     th:value="${selectedCPU != null ? selectedCPU.frequency : ''}"/></p>
                <p>Brand: <input type="text" name="brand" th:value="${selectedCPU != null ? selectedCPU.brand : ''}"/>
                </p>
                <p>Compatible RAM Types: <input type="text" name="compatibleRAMTypes"
                                                th:value="${selectedCPU != null ? #strings.listJoin(selectedCPU.compatibleRAMTypes, (', ')) : ''}"/>
                </p>
                <p>Ebay Link: <input type="text" name="ebaylink"
                                     th:value="${selectedCPU != null ? selectedCPU.ebaylink : ''}"/></p>
                <p><input type="submit" value='Update CPU'/></p>
                <input type="hidden" name="id" th:value="${selectedCPU != null ? selectedCPU.id : ''}"/>
            </form>
        </div>
    </div>
</div>

<div th:if="${componentSelected} == 'GPUs'" style="display: flex;align-items: flex-start;">
    <table style="margin-right: 40px">
        <tr>
            <th>GPU Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        <tr th:each="gpu : ${GPUs}">
            <td th:text="${gpu.name}" style="max-width: 200px">Product Name</td>
            <td th:text="${gpu.price}">Product Price</td>
            <td>
                <form th:action="@{/admin/gpus/{id}(id=${gpu.id})}" method="get" style="display: inline;">
                    <button type="submit">Edit GPU</button>
                </form>
                <form th:action="@{/admin/gpus/{id}(id=${gpu.id})}" method="post" style="display: inline;">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <button type="submit">Delete GPU</button>
                </form>
            </td>
        </tr>
    </table>

    <div>
        <h2>Add/Edit GPU</h2>
        <div th:if="${currentForm} == 'create'">
            <form action="#" th:action="@{/admin/gpus}" method="post">
                <p>Name: <input type="text" name="name"/></p>
                <p>Price: <input type="number" name="price" step="0.01"/></p>
                <p>Brand: <input type="text" name="brand"/></p>
                <p>VRAM: <input type="text" name="vram"/></p>
                <p>Ebay Link: <input type="text" name="ebaylink"/></p>
                <p><input type="submit" value="Add GPU"/></p>
            </form>
        </div>
        <div th:if="${currentForm} == 'update'">
            <form action="#" th:action="@{/admin/gpus/update}" method="post">
                <p>Name: <input type="text" name="name" th:value="${selectedGPU != null ? selectedGPU.name : ''}"/></p>
                <p>Price: <input type="number" name="price" step="0.01"
                                 th:value="${selectedGPU != null ? selectedGPU.price : ''}"/></p>
                <p>Brand: <input type="text" name="brand" th:value="${selectedGPU != null ? selectedGPU.brand : ''}"/>
                </p>
                <p>VRAM: <input type="number" name="vram" step="0.01"
                                th:value="${selectedGPU != null ? selectedGPU.vram : ''}"/></p>
                <p>Ebay Link: <input type="text" name="ebaylink"
                                     th:value="${selectedGPU != null ? selectedGPU.ebaylink : ''}"/></p>
                <p><input type="submit" value='Update GPU'/></p>
                <input type="hidden" name="id" th:value="${selectedGPU != null ? selectedGPU.id : ''}"/>
            </form>
        </div>
    </div>
</div>

<div th:if="${componentSelected} == 'Motherboards'" style="display: flex;align-items: flex-start;">
    <table style="margin-right: 40px">
        <tr>
            <th>Motherboard Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        <tr th:each="motherboard : ${Motherboards}">
            <td th:text="${motherboard.name}" style="max-width: 200px">Product Name</td>
            <td th:text="${motherboard.price}">Product Price</td>
            <td>
                <form th:action="@{/admin/motherboards/{id}(id=${motherboard.id})}" method="get"
                      style="display: inline;">
                    <button type="submit">Edit Motherboard</button>
                </form>
                <form th:action="@{/admin/motherboards/{id}(id=${motherboard.id})}" method="post"
                      style="display: inline;">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <button type="submit">Delete Motherboard</button>
                </form>
            </td>
        </tr>
    </table>

    <div>
        <h2>Add/Edit Motherboard</h2>
        <div th:if="${currentForm} == 'create'">
            <form action="#" th:action="@{/admin/motherboards}" method="post">
                <p>Name: <input type="text" name="name"/></p>
                <p>Price: <input type="number" name="price" step="0.01"/></p>
                <p>Brand: <input type="text" name="brand"/></p>
                <p>Socket: <input type="text" name="socket"/></p>
                <p>Chipset: <input type="text" name="chipset"/></p>
                <p>Compatible Ram Types: <input type="text" name="compatibleRAMTypes"/></p>
                <p>Compatible Storage Types: <input type="text" name="compatibleStorageTypes"/></p>
                <p>Ebay Link: <input type="text" name="ebaylink"/></p>
                <p><input type="submit" value="Add Motherboard"/></p>
            </form>
        </div>
        <div th:if="${currentForm} == 'update'">
            <form action="#" th:action="@{/admin/motherboards/update}" method="post">
                <p>Name: <input type="text" name="name"
                                th:value="${selectedMotherboard != null ? selectedMotherboard.name : ''}"/></p>
                <p>Price: <input type="number" name="price" step="0.01"
                                 th:value="${selectedMotherboard != null ? selectedMotherboard.price : ''}"/></p>
                <p>Brand: <input type="text" name="brand"
                                 th:value="${selectedMotherboard != null ? selectedMotherboard.brand : ''}"/></p>
                <p>Socket: <input type="text" name="socket"
                                  th:value="${selectedMotherboard != null ? selectedMotherboard.socket : ''}"/></p>
                <p>Chipset: <input type="text" name="chipset"
                                   th:value="${selectedMotherboard != null ? selectedMotherboard.chipset : ''}"/></p>
                <p>Compatible Ram Types: <input type="text" name="compatibleRAMTypes"
                                                th:value="${selectedMotherboard != null ? #strings.listJoin(selectedMotherboard.compatibleRAMTypes, ', ') : ''}"/>
                </p>
                <p>Compatible Storage Types: <input type="text" name="compatibleStorageTypes"
                                                    th:value="${selectedMotherboard != null ? #strings.listJoin(selectedMotherboard.compatibleStorageTypes, ', ') : ''}"/>
                </p>
                <p>Ebay Link: <input type="text" name="ebaylink"
                                     th:value="${selectedMotherboard != null ? selectedMotherboard.ebaylink : ''}"/></p>
                <p><input type="submit" value="Update Motherboard"/></p>
                <input type="hidden" name="id" th:value="${selectedMotherboard != null ? selectedMotherboard.id : ''}"/>
            </form>
        </div>
    </div>
</div>

<div th:if="${componentSelected} == 'RAMs'" style="display: flex;align-items: flex-start;">
    <table style="margin-right: 40px">
        <tr>
            <th>RAM Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        <tr th:each="ram : ${RAMs}">
            <td th:text="${ram.name}" style="max-width: 200px">Product Name</td>
            <td th:text="${ram.price}">Product Price</td>
            <td>
                <form th:action="@{/admin/rams/{id}(id=${ram.id})}" method="get" style="display: inline;">
                    <button type="submit">Edit RAM</button>
                </form>
                <form th:action="@{/admin/rams/{id}(id=${ram.id})}" method="post" style="display: inline;">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <button type="submit">Delete RAM</button>
                </form>
            </td>
        </tr>
    </table>

    <div>
        <h2>Add/Edit RAM</h2>
        <div th:if="${currentForm} == 'create'">
            <form action="#" th:action="@{/admin/rams}" method="post">
                <p>Name: <input type="text" name="name"/></p>
                <p>Price: <input type="number" name="price" step="0.01"/></p>
                <p>Capacity: <input type="text" name="capacity"/></p>
                <p>Ram Type: <input type="text" name="ramtype"/></p>
                <p>Ebay Link: <input type="text" name="ebaylink"/></p>
                <p><input type="submit" value="Add RAM"/></p>
            </form>
        </div>
        <div th:if="${currentForm} == 'update'">
            <form action="#" th:action="@{/admin/rams/update}" method="post">
                <p>Name: <input type="text" name="name" th:value="${selectedRAM != null ? selectedRAM.name : ''}"/></p>
                <p>Price: <input type="number" name="price" step="0.01"
                                 th:value="${selectedRAM != null ? selectedRAM.price : ''}"/></p>
                <p>Capacity: <input type="number" name="capacity" step="0.01"
                                    th:value="${selectedRAM != null ? selectedRAM.capacity : ''}"/></p>
                <p>Ram Type: <input type="text" name="ramtype"
                                    th:value="${selectedRAM != null ? selectedRAM.ramtype : ''}"/></p>
                <p>Ebay Link: <input type="text" name="ebaylink"
                                     th:value="${selectedRAM != null ? selectedRAM.ebaylink : ''}"/></p>
                <p><input type="submit" value="Update RAM"/></p>
                <input type="hidden" name="id" th:value="${selectedRAM != null ? selectedRAM.id : ''}"/>
            </form>
        </div>
    </div>
</div>

<div th:if="${componentSelected} == 'Storages'" style="display: flex;align-items: flex-start;">
    <table style="margin-right: 40px">
        <tr>
            <th>Storage Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        <tr th:each="storage : ${Storages}">
            <td th:text="${storage.name}" style="max-width: 200px">Product Name</td>
            <td th:text="${storage.price}">Product Price</td>
            <td>
                <form th:action="@{/admin/storages/{id}(id=${storage.id})}" method="get" style="display: inline;">
                    <button type="submit">Edit Storage</button>
                </form>
                <form th:action="@{/admin/storages/{id}(id=${storage.id})}" method="post" style="display: inline;">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <button type="submit">Delete Storage</button>
                </form>
            </td>
        </tr>
    </table>

    <div>
        <h2>Add New Storage</h2>
        <div th:if="${currentForm} == 'create'">
            <form action="#" th:action="@{/admin/storages}" method="post">
                <p>Name: <input type="text" name="name"/></p>
                <p>Price: <input type="number" name="price" step="0.01"/></p>
                <p>Capacity: <input type="number" name="capacity" step="0.01"/></p>
                <p>Brand: <input type="text" name="brand"/></p>
                <p>Storage Type: <input type="text" name="storageType"/></p>
                <p>Ebay Link: <input type="text" name="ebaylink"/></p>
                <p><input type="submit" value="Add Storage"/></p>
            </form>
        </div>
        <div th:if="${currentForm} == 'update'">
            <form action="#" th:action="@{/admin/storages/update}" method="post">
                <p>Name: <input type="text" name="name" th:value="${selectedStorage != null ? selectedStorage.name : ''}"/>
                </p>
                <p>Price: <input type="number" name="price" step="0.01"
                                 th:value="${selectedStorage != null ? selectedStorage.price : ''}"/></p>
                <p>Capacity: <input type="number" name="capacity" step="0.01"
                                    th:value="${selectedStorage != null ? selectedStorage.capacity : ''}"/></p>
                <p>Brand: <input type="text" name="brand"
                                 th:value="${selectedStorage != null ? selectedStorage.brand : ''}"/></p>
                <p>Storage Type: <input type="text" name="storageType"
                                        th:value="${selectedStorage != null ? selectedStorage.storageType : ''}"/></p>
                <p>Ebay Link: <input type="text" name="ebaylink"
                                     th:value="${selectedStorage != null ? selectedStorage.ebaylink : ''}"/></p>
                <p><input type="submit" value="Update Storage"/></p>
                <input type="hidden" name="id" th:value="${selectedStorage != null ? selectedStorage.id : ''}"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>
