<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/select-motherboard}" method="post">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Brand</th>
            <th>Socket</th>
            <th>RAM</th>
            <!--        <th>Buy</th>-->
        </tr>
        </thead>
        <tbody>
<!--        <tr th:each="motherboard : ${motherboards}">-->

<!--            <td th:text="${motherboard}"></td>-->
<!--        </tr>-->
        <tr th:each="motherboard : ${motherboards}">
            <td th:text="${motherboard.name}">Name</td>
            <td th:text="${motherboard.price}">Price</td>
            <td th:text="${motherboard.brand}">Brand</td>
            <td th:text="${motherboard.socket}">Socket</td>
            <td th:text="${motherboard.compatibleRAMTypes}">RAM</td>
            <td>
                <button type="submit" name="motherboardId" th:value="${motherboard.id}">Select</button>
            </td>
            <!--        <td><a th:href="${cpu.ebaylink}">Buy</a></td>-->
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>